<%= form_for(@link) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :autofocus => true%><br />
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url, :value => 'http://' %><br />
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description, :value => '' %><br />
  </div>
  <div class="actions">
    <%= f.submit :value => 'Add Link' %>
  </div>
  <%= link_to 'Back', links_path %>
<% end %>

